<?=$menu?>
<p><button class="btn">Assign counselor</button></p>
<div class="pager-listing" id="counselor-list" data-rpp="10">
    <div style="text-align:right" class="pager-search"></div>
    <table class="table table-striped">
        <thead class="pager-head">
            <tr>
                <th class="pager-header display_name"></th>
                <th class="pager-header username"></th>
            </tr>
        </thead>
        <tbody class="pager-body">
            <tr class="pager-row">
                <td class="pager-column display_name"></td>
                <td class="pager-column username"></td>
            </tr>
        </tbody>
    </table>
    <div class="pagination pagination-centered"></div>
</div>
