<?=$menu?>

<div class="pager-listing" id="resume-list" data-rpp="10">
    <div style="text-align:right" class="pager-search"></div>
    <table class="table table-striped">
        <thead class="pager-head">
            <tr>
                <th class="pager-header title"></th>
                <th class="pager-header created"></th>
                <th class="pager-header version"></th>
            </tr>
        </thead>
        <tbody class="pager-body">
            <tr class="pager-row">
                <td class="pager-column title"></td>
                <td class="pager-column created"></td>
                <td class="pager-column version"></td>
            </tr>
        </tbody>
    </table>
    <div class="pagination pagination-centered"></div>
</div>
