<p><?=$first_name_label,$first_name?></p>
<p><?=$last_name_label,$last_name?></p>
<p><?=$colleges_label,$colleges?></p>

<span class="btn btn-success fileinput-button">
    <i class="icon-plus icon-white"></i>
    <span>Upload your resume (PDF only)</span>
    <!-- The file input field used as target for the file upload widget -->
    <input id="fileupload" type="file" multiple name="files[]">
</span>
<br>
<br>
<!-- The global progress bar -->
<div id="progress" class="progress progress-success progress-striped">
    <div class="bar"></div>
</div>
<!-- The container for the uploaded files -->
<div id="files" class="files"></div>