<?=$menu?>
<p><button class="btn" id="new-college">Create college</button></p>
<div class="pager-listing" id="college-list" data-rpp="10">
    <div style="text-align:right" class="pager-search"></div>
    <table class="table table-striped">
        <thead class="pager-head">
            <tr>
                <th class="pager-header name"></th>
                <th class="pager-header assigned"></th>
            </tr>
        </thead>
        <tbody class="pager-body">
            <tr class="pager-row pointer" data-row-id="">
                <td class="pager-column name"></td>
                <td class="pager-column assigned"></td>
            </tr>
        </tbody>
    </table>
    <div class="pagination pagination-centered"></div>
</div>
<div id="college-options" style="display:none">
    <form method="post" action="resumedrop/admin/colleges" class="form-inline">
        <input type="hidden" class="college-id" name="college_id" value="0" />
        <input type="hidden" name="command" value="save" />
        <input type="text" name="college" id="college-name" />
        <input type="submit" id="save-button" class="btn" value="Save" />
    </form>
    <div id="other-options" style="display:none">
        <hr />
        <p>Add counselors to this college</p>
        <form method="post" action="resumedrop/admin/colleges" style="text-align : center">
            <input type="hidden" class="college-id" name="college_id" value="0" />
            <input type="hidden" name="command" value="update-counselors" />
            <div id="counselors-list">
                <select id="counselor-select" name="counselors[]" multiple style="width : 100%">
                </select>
            </div>
            <input type="submit" class="btn" value="Save counselors" style="margin-top : 4px" />
        </form>
        <hr />
        <form method="post" action="resumedrop/admin/colleges" class="form-inline" style="text-align : center">
            <input type="hidden" class="college-id" name="college_id" value="0" />
            <input type="hidden" name="command" value="delete" />
            <input type="submit" id="delete-button" class="btn-danger btn" disabled value="Permanently delete this college" />
            <br />
            <input type="checkbox" id="delete-approval" name="delete_approval" value="1" />
            <label for="delete-approval">Confirm deletion</label>
        </form>
    </div>
</div>