<?=$menu?>
<p><button class="btn" id="new-college">Create college</button></p>
<div class="pager-listing" id="college-list" data-rpp="10">
    <div style="text-align:right" class="pager-search"></div>
    <table class="table table-striped">
        <thead class="pager-head">
            <tr>
                <th class="pager-header name"></th>
            </tr>
        </thead>
        <tbody class="pager-body">
            <tr class="pager-row" data-row-id="">
                <td class="pager-column name"></td>
            </tr>
        </tbody>
    </table>
    <div class="pagination pagination-centered"></div>
</div>
<div id="create-college" style="display:none">
    <form method="post" action="resumedrop/colleges" class="form-inline">
            <input type="text" name="college" id="college-name" />
            <input type="submit" class="btn" value="Save" />
            <input type="hidden" id="college-id" name="college_id" value="0" />
    </form>
</div>