<span class="btn btn-success fileinput-button">
    <i class="icon-plus icon-white"></i>
    <span>Click here to upload your resume (PDF only)</span>
    <!-- The file input field used as target for the file upload widget -->
    <input id="fileupload" type="file" name="files">
</span> <p style="font-size : 80%; font-style: italic"><a href="http://office.microsoft.com/en-us/word-help/save-as-pdf-HA010064992.aspx">How to save a document as a PDF</a></p>
<br>
<!-- The global progress bar -->
<div id="progress" class="progress progress-success progress-striped">
    <div class="bar"></div>
</div>

<div id="success" style="display:none"><p>Your resume has been sent to the Career Counselor
for your college.<br />Please allow 3 to 5 business days for your resume review.</p></div>
<div id="failure" style="display:none"><p>Your resume could be uploaded properly. Make sure you are trying to upload a Acrobat Reader (PDF) file. Please try again.</p></div>

<table id='error'></table>