<div>
    <ul id="resumedrop-menu" class="nav nav-tabs">
        <li class="<?=isset($resumes)?'active':null?>" id='resumes-link'><a href="./resumedrop/admin/resumes">Resumes</a></li>
        <li class="<?=isset($students)?'active':null?>" id='students-link'><a href="./resumedrop/admin/students">Students</a></li>
        <li class="<?=isset($counselors)?'active':null?>" id='counselors-link'><a href="./resumedrop/admin/counselors">Counselors</a></li>
        <li class="<?=isset($colleges)?'active':null?>" id='colleges-link'><a href="./resumedrop/admin/colleges">Colleges</a></li>
    </ul>
</div>